{% extends "base.html" %}

{% load sekizai_tags %}
{% load widget_tweaks %}

{% block "title" %}Cadastrar Ovino{% endblock %}
{% block "conteudo" %}
  <div class=>
    <div class=>
        <div class=>
            <i class=></i>Detalhar Ovino</div>
        <div >
            <a href="{% url 'ovino:update' id=data.id %}" >Editar </a>
        </div>
    </div>
    <div >
        <div >
          <div > Identificador: </div>
          <div > {{ data.identificador }} </div>
        </div>
        <div >
          <div > peso: </div>
          <div > {{ data.peso }} </div>
        </div>
        <div >
          <div > nascimento: </div>
          <div > {{ data.nascimento }} </div>
        </div>
        <div >
          <div > raca: </div>
          <div > {{ data.raca }} </div>
        </div>
        <div >
          <div > cor: </div>
          <div > {{ data.cor }} </div>
        </div>
        <div >
          <div > genero: </div>
          <div > {{ data.genero }} </div>
        </div>
        <div >
            <div > Dada do cadastro: </div>
            <div >{{ data.created_at }}</div>
        </div>
        <div >
            <div > Última atualização: </div>
            <div >{{ data.updated_at }}</div>
        </div>
    </div>
  </div>
  <footer>
    <a href="/">Inicio</a>
  </footer>
{% endblock %}
