                    <!-- SWITCH BUTTONS -->
                    <!-- https://github.com/nabil1337/bootstrap-switch -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item button-demo">
                                <h4 class="section-title">Button Sliding Checkboxes</h4>
                                <div class="form-group">
                                    <div>
                                        <div class="make-switch" data-on="danger" data-off="warning">
                                            <input type="checkbox" checked>
                                        </div>
                                        <div class="make-switch" data-on-label="True" data-off-label="False" data-on="success" data-off="danger">
                                            <input type="checkbox" checked>
                                        </div>
                                        <div style="width: 203px" class="make-switch" data-on-label="Bigger" data-off-label="Switch" data-on="warning" data-off="info">
                                            <input type="checkbox" checked>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>