					<div class="panel panel-default panel-block changelog">
						<div class="list-group">
							<div class="list-group-item">
								<h4 class="section-title">Version 1.2.1 – March 27 2014</h4>
								<span class="text-bold text-success">Fixed: </span>
								<p>
									Sidebar.html component had a bug where on some occasions the sidebar expanded state would not get memorized correctly in a cookie. This in turn caused layout problem.
								</p>
								<p>
									While it is just a small correction, it's an important one. We are therefor releasing version 1.2.1 as a stand-alone patch while 1.3 release is still in the works. If you wish to manually update the sidebar.html you would only need to wrap the contents of the JS script element inside a $(document).ready function so it doesn't get executed until the entire page DOM is ready.
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Made minor modifications to links pointing to Google CDN so Proton can start up without running it from a web server. Now you can directly open index.html from one of the dist or dist-minified folders. You no longer need to have MAMP, XAMPP or similar web server running. You still need a working internet connection since Proton pulls some files from Google CDN.
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default panel-block changelog">
						<div class="list-group">
							<div class="list-group-item">
								<h4 class="section-title">Version 1.2 – Feb 3 2014</h4>
								<span class="text-bold text-danger">New: </span>
								<p>
									Intro Page (mobile demo not available but easy to implement): <a href="http://proton.orangehilldev.com/intro.html" target="_blank">http://proton.orangehilldev.com/intro.html</a>
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Session Timeout Page: <a href="http://proton.orangehilldev.com/session-timeout.html" target="_blank">http://proton.orangehilldev.com/session-timeout.html</a><br>
									Why would you need this and how does it work? Read <a href="http://www.orangehilldev.com/?p=101" target="_blank">here</a> 
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Advanced Search Page: <a href="http://proton.orangehilldev.com/advanced-search.html" target="_blank">http://proton.orangehilldev.com/advanced-search.html</a>
								</p>
								
								<span class="text-bold text-danger">New: </span>
								<p>
									Tinymce editor added to: <a href="http://proton.orangehilldev.com/forms-form-components.html#tinymce---basic" target="_blank">Form Components</a>
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Sparkline boxes added to: <a href="http://proton.orangehilldev.com/graphs-and-statistics.html#sparkline-boxes" target="_blank">Graphs and Statistics</a>
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Bootstrap used with Proton UI has been upgraded to the latest <span class="text-bold">Bootstrap 3.1.0</span> version. For details on what this upgrade brings please consult the official Bootstrap blog: <a href="http://blog.getbootstrap.com/2014/01/30/bootstrap-3-1-0-released/">http://blog.getbootstrap.com/2014/01/30/bootstrap-3-1-0-released/</a>
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Sidebar search input - advanced search button is now optional, visible only on the new Advanced Search Page: <a href="http://proton.orangehilldev.com/advanced-search.html" target="_blank">http://proton.orangehilldev.com/advanced-search.html</a>
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Now using "New" and "Update" labels to mark the main menu items which have been added or updated. Also moved error pages to a separate menu group
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Image Gallery Uploader page had a couple of CSS bugs visible on mobile devices
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Datetimepicker calendar showing up on bottom of page instead of being hidden when not in use
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Slider tooltip sometimes failed to show the new value after quickly sliding to a new slider position
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default panel-block changelog">
						<div class="list-group">
							<div class="list-group-item">
								<h4 class="section-title">Version 1.1 – Dec 6 2013</h4>
								<span class="text-bold text-danger">New: </span>
								<p>
									Login Page
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Image Gallery Uploader Page (with drag and drop support)
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Calendar
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Autotab Input Fields
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									Form Validation
								</p>

								<span class="text-bold text-danger">New: </span>
								<p>
									File Input Field and Button
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Dashboard Widget positions are now preserved in a cookie on every change. Note that each widget must have a unique id attribute for this feature to function. Also, only .proton-widget elements should be allowed inside the .widget-group section. We still recommend that you also save the positions on your backend in the actual app you are building. This way you will prevent sort-order loss in case the cookie gets deleted or expires after a year. The positions are available in proton.dashboard.widgetPositions array declared in dashboard.js
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Dashboard Widget size can now be changed via LESS variables in widgets.less file (@widget-width, @widget-height, @widget-gutter). We created an example showing double-width widgets with smaller gutter here: http://proton.orangehilldev.com/example-widgets-larger.html
								</p>

								<span class="text-bold text-warning">Enhancement: </span>
								<p>
									Sidebar now automatically retracts on medium and small screen sizes, giving more screen real estate to main content
								</p>

								<span class="text-bold text-info">Update: </span>
								<p>
									jQuery 2.0.3 (older browsers like IE 8 fall back to 1.10.2)
								</p>

								<span class="text-bold text-info">Update: </span>
								<p>
									Summernote text editor updated to v0.4.2, fixed font manipulation bugs in some browsers
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Chrome page rendering bug when using web fonts / icons on some windows systems
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Graphs not redrawing when expanding / retracting sidebar
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Minor tabs stacking problem on mobile devices
								</p>

								<span class="text-bold text-success">Fixed: </span>
								<p>
									Tooltip line height when there is more than one row of text
								</p>

							</div>
						</div>
					</div>
					
					<div class="panel panel-default panel-block changelog">
						<div class="list-group">
							<div class="list-group-item">
								<h4 class="section-title">Version 1.0 – Nov 30 2013</h4>
								<span class="text-bold">Initial Release</span>
							</div>
						</div>
					</div>
