                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">1</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">2</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">3</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">4</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">5</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">6</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">7</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">8</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">9</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">10</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">11</div>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-1">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">12</div>
                            </section>
                        </div>
                    </div>