                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item button-demo">
                                <h4 class="section-title">Modal Dialogs</h4>
                                <div class="form-group">
                                    <div>
                                        <a data-toggle="modal" href="#myModal" class="btn btn-primary">Launch modal</a>
	                                    <a data-toggle="modal" href="#myModal2" class="btn btn-success">Launch another modal</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>