                    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
                    	<div class="modal-dialog">
                    		<div class="modal-content">
                    			<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    				<h4 class="modal-title"><i class="icon-hdd"></i> Modal title</h4>
                    			</div>
                    			<div class="modal-body">
                    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, impedit, at corporis provident consectetur dolores sequi aliquam nam cupiditate labore ab eius mollitia veritatis perspiciatis quidem vitae officiis exercitationem tenetur cum voluptatem in recusandae consequatur magnam vero expedita aspernatur nihil et velit pariatur ratione fugit voluptatibus iure nulla maxime qui.</p>
                                    <a href="javascript:;">
                                        Some link here.
                                    </a>
                    			</div>
                    			<div class="modal-footer">
                    				<button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
                    				<button type="button" class="btn btn-lg btn-primary">Save changes</button>
                    			</div>
                    		</div><!-- /.modal-content -->
                    	</div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                    <div id="myModal2" tabindex="-1" role="dialog" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><i class="icon-smile"></i> Smile</h4>
                                </div>
                                <div class="modal-body">
                                    <p>You just launched another modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-lg btn-success" data-dismiss="modal">Yeaaah!</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->