                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Checkboxes and Radios</h4>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">
                                        Option 1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">
                                        Option 2
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">
                                        Option 3
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" disabled value="">
                                        Option Disabled
                                    </label>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group">
                                    <div>
                                      <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Radio 1
                                      </label>
                                    </div>
                                    <div>
                                      <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Radio 2
                                      </label>
                                    </div>
                                    <div>
                                      <label>
                                        <input type="radio" disabled name="optionsRadios" id="optionsRadios3" value="option3">
                                        Radio Disabled
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
