                    <!-- SLIDERS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Horizontal Sliders</h4>
                                <div class="form-group">
                                    <label>Basic Sliders</label>
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="show" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="20" data-slider-tooltip="show" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="40" data-slider-tooltip="show" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="60" data-slider-tooltip="show" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="80" data-slider-tooltip="show" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100" data-slider-tooltip="show" data-slider-handle="square" >
                                </div>
                                <div class="form-group">
                                    <label>Range Sliders</label>
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[100,600]" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,750]" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[400,900]" data-slider-handle="square" >
                                </div>
                            </div>
                        </div>
                    </div>