                    <div class="panel panel-default panel-block summernote-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <h4 class="section-title">WYSIWYG Editor Minimal</h4>
                                    <div>
                                    	<textarea id="wysiwyg" rows="6" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block summernote-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <h4 class="section-title">WYSIWYG Editor Full</h4>
                                    <div>
                                        <textarea id="wysiwyg-full" rows="6" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>