                    <!-- ACCORDION -->
                    <div class="panel-group" id="demo-accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#demo-accordion" href="#demo-collapseOne">
                                        HOME
                                    </a>
                                </h4>
                            </div>
                            <div id="demo-collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <h4 class="section-title">Accordion</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, natus aut et eum non repudiandae atque at nisi adipisci provident inventore consequatur rem! Nihil, est enim eum ipsum itaque odit sed. Cupiditate, deserunt, temporibus, eaque architecto fugiat iure reiciendis sed natus nesciunt officia suscipit vel?
                                    <br><br>
                                    Id dolorum perferendis asperiores minima consequuntur quae tempora quisquam. Delectus, est odio debitis perferendis illo eum! Commodi, mollitia, a, sunt, molestiae maiores animi odio doloribus optio quo fuga libero molestias.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#demo-accordion" href="#demo-collapseTwo">
                                        PROFILE
                                    </a>
                                </h4>
                            </div>
                            <div id="demo-collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, aliquam, earum cum quisquam nihil consequatur adipisci deleniti corrupti vitae molestiae aspernatur veniam aperiam possimus facilis laudantium asperiores vel. Et, quo, dicta beatae perferendis aut suscipit quis dolor. Ullam, nemo omnis quod placeat asperiores accusantium eligendi fugit rem quia eum tempora necessitatibus.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#demo-accordion" href="#demo-collapseThree">
                                        MESSAGES
                                    </a>
                                </h4>
                            </div>
                            <div id="demo-collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quis, illo, voluptas officiis nemo rerum vero fugiat quasi atque veniam vitae tenetur molestias sunt blanditiis maxime laudantium inventore consectetur vel voluptatem ullam perferendis voluptatibus debitis voluptate ea eaque impedit perspiciatis ex provident dicta quidem quam quibusdam eveniet dolorem. Molestias, cum, sit, impedit culpa magnam quibusdam suscipit quaerat placeat iure officiis ipsam accusantium odit eligendi.
                                </div>
                            </div>
                        </div>
                    </div>