                    <!-- ALERTS/NOTIFICATIONS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Alerts</h4>
                                <div class="form-group">
                                    <div class="alert alert-dismissable alert-success fade in">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-remove"></i></button>
                                        <span class="title"><i class="icon-check-sign"></i> SUCCESS</span>
                                        You successfully read this important alert message.
                                    </div>
                                    <div class="alert alert-dismissable alert-info fade in">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-remove"></i></button>
                                        <span class="title"><i class="icon-info-sign"></i> INFORMATION</span>
                                        This alert needs your attention, but it's not super important.
                                    </div>
                                    <div class="alert alert-dismissable alert-warning fade in">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-remove"></i></button>
                                        <span class="title"><i class="icon-warning-sign"></i> WARNING</span>
                                        Best check yo self, you're not looking too good.
                                    </div>
                                    <div class="alert alert-dismissable alert-danger fade in">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-remove"></i></button>
                                        <span class="title"><i class="icon-remove-sign"></i> ERROR</span>
                                        Change a few things up and try submitting again.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
