                    <!-- JAVASCRIPT CODE PRETTIFIER -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Code Prettifier</h4>
                                <div class="form-group">
                                    <div>
                                        <pre class="prettyprint lang-js">

    $('#half-cancel-stars-demo').raty({
        cancel      : true,
        cancelPlace : 'right',
        starOff     : 'icon-star dimmed',
        cancelOff   : 'icon-remove-sign dimmed',
        half: true
    });
                                        </pre>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
