                    <!-- COLOR PICKER -->
                    <!-- http://timschlechter.github.io/bootstrap-tagsinput/examples/ -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Color Picker</h4>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="color" name="color" value="#428bca" />
                                </div>
                                <div class="colorpicker-binder text-center"></div>
                            </div>
                        </div>
                    </div>