                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Area Chart</h4>
                                <div class="form-group">
                                    <div id="hero-area" class="graph" style="height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>