                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-12</div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-6</div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-6</div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-4</div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-4</div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-4</div>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-3</div>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-3</div>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-3</div>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-3</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-10</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-8">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-8</div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-4</div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-4</div>
                            </section>
                        </div>
                        <div class="col-md-8">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-8</div>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-2</div>
                            </section>
                        </div>
                        <div class="col-md-10">
                            <section class="panel panel-default panel-block">
                                <div class="panel-heading text-overflow-hidden">col-md-10</div>
                            </section>
                        </div>
                    </div>