                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Currency Icons</h4>
                                <div class="form-group">
                                	<section class="icons-demo">
                                	    <div class="the-icons row">
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-bitcoin"></i> icon-bitcoin <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-btc"></i> icon-btc</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-cny"></i> icon-cny</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-dollar"></i> icon-dollar <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-eur"></i> icon-eur</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-euro"></i> icon-euro <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-gbp"></i> icon-gbp</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-inr"></i> icon-inr</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-jpy"></i> icon-jpy</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-krw"></i> icon-krw</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-renminbi"></i> icon-renminbi <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-rupee"></i> icon-rupee <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-usd"></i> icon-usd</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-won"></i> icon-won <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-yen"></i> icon-yen <span class="muted">(alias)</span></a></div>
                                	    </div>
                                	</section>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default panel-block">
					    <div class="list-group">
					        <div class="list-group-item">
					            <h4 class="section-title">Text Editor Icons</h4>
					            <div class="form-group">
                                	<section class="icons-demo">
                                	    <div class="the-icons row">
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-align-center"></i> icon-align-center</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-align-justify"></i> icon-align-justify</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-align-left"></i> icon-align-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-align-right"></i> icon-align-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-bold"></i> icon-bold</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-columns"></i> icon-columns</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-copy"></i> icon-copy</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-cut"></i> icon-cut</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-eraser"></i> icon-eraser</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-file"></i> icon-file</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-file-alt"></i> icon-file-alt</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-file-text"></i> icon-file-text</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-file-text-alt"></i> icon-file-text-alt</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-font"></i> icon-font</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-indent-left"></i> icon-indent-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-indent-right"></i> icon-indent-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-italic"></i> icon-italic</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-link"></i> icon-link</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-list"></i> icon-list</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-list-alt"></i> icon-list-alt</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-list-ol"></i> icon-list-ol</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-list-ul"></i> icon-list-ul</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-paper-clip"></i> icon-paper-clip</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-paperclip"></i> icon-paperclip <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-paste"></i> icon-paste</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-repeat"></i> icon-repeat</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-rotate-left"></i> icon-rotate-left <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-rotate-right"></i> icon-rotate-right <span class="muted">(alias)</span></a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-save"></i> icon-save</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-strikethrough"></i> icon-strikethrough</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-table"></i> icon-table</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-text-height"></i> icon-text-height</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-text-width"></i> icon-text-width</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-th"></i> icon-th</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-th-large"></i> icon-th-large</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-th-list"></i> icon-th-list</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-underline"></i> icon-underline</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-undo"></i> icon-undo</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-unlink"></i> icon-unlink</a></div>
                                	    </div>
                                	</section>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default panel-block">
					    <div class="list-group">
					        <div class="list-group-item">
					            <h4 class="section-title">Directional Icons</h4>
					            <div class="form-group">
                                	<section class="icons-demo">
                                	    <div class="the-icons row">
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-angle-down"></i> icon-angle-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-angle-left"></i> icon-angle-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-angle-right"></i> icon-angle-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-angle-up"></i> icon-angle-up</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-caret-down"></i> icon-caret-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-caret-left"></i> icon-caret-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-caret-right"></i> icon-caret-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-caret-up"></i> icon-caret-up</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-down"></i> icon-chevron-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-left"></i> icon-chevron-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-right"></i> icon-chevron-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-sign-down"></i> icon-chevron-sign-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-sign-left"></i> icon-chevron-sign-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-sign-right"></i> icon-chevron-sign-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-sign-up"></i> icon-chevron-sign-up</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-chevron-up"></i> icon-chevron-up</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-double-angle-down"></i> icon-double-angle-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-double-angle-left"></i> icon-double-angle-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-double-angle-right"></i> icon-double-angle-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-double-angle-up"></i> icon-double-angle-up</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-hand-down"></i> icon-hand-down</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-hand-left"></i> icon-hand-left</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-hand-right"></i> icon-hand-right</a></div>
                                	        <div class="col-md-4"><a href="javascript:;"><i class="icon-hand-up"></i> icon-hand-up</a></div>
                                	    </div>
                                	</section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block">
					    <div class="list-group">
					        <div class="list-group-item">
					            <h4 class="section-title">Brand Icons</h4>
					            <div class="form-group">
									<section class="icons-demo">
									    <div class="alert alert-info">
									        <ul class="margin-bottom-none">
									            <li>All brand icons are trademarks of their respective owners.</li>
									            <li>The use of these trademarks does not indicate endorsement of the trademark holder by the developer of Proton UI Theme, nor vice versa.</li>
									        </ul>
									    </div>

									    <div class="the-icons row">
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-adn"></i> icon-adn</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-android"></i> icon-android</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-apple"></i> icon-apple</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-bitbucket"></i> icon-bitbucket</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-bitbucket-sign"></i> icon-bitbucket-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-bitcoin"></i> icon-bitcoin <span class="muted">(alias)</span></a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-btc"></i> icon-btc</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-css3"></i> icon-css3</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-dribbble"></i> icon-dribbble</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-dropbox"></i> icon-dropbox</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-facebook"></i> icon-facebook</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-facebook-sign"></i> icon-facebook-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-flickr"></i> icon-flickr</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-foursquare"></i> icon-foursquare</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-github"></i> icon-github</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-github-alt"></i> icon-github-alt</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-github-sign"></i> icon-github-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-gittip"></i> icon-gittip</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-google-plus"></i> icon-google-plus</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-google-plus-sign"></i> icon-google-plus-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-html5"></i> icon-html5</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-instagram"></i> icon-instagram</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-linkedin"></i> icon-linkedin</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-linkedin-sign"></i> icon-linkedin-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-linux"></i> icon-linux</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-maxcdn"></i> icon-maxcdn</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-pinterest"></i> icon-pinterest</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-pinterest-sign"></i> icon-pinterest-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-renren"></i> icon-renren</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-skype"></i> icon-skype</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-stackexchange"></i> icon-stackexchange</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-trello"></i> icon-trello</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-tumblr"></i> icon-tumblr</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-tumblr-sign"></i> icon-tumblr-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-twitter"></i> icon-twitter</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-twitter-sign"></i> icon-twitter-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-vk"></i> icon-vk</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-weibo"></i> icon-weibo</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-windows"></i> icon-windows</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-xing"></i> icon-xing</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-xing-sign"></i> icon-xing-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-youtube"></i> icon-youtube</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-youtube-play"></i> icon-youtube-play</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-youtube-sign"></i> icon-youtube-sign</a></div>
									    </div>
									</section>
								</div>
                            </div>
                        </div>
                    </div>
					<div class="panel panel-default panel-block">
					    <div class="list-group">
					        <div class="list-group-item">
					            <h4 class="section-title">Medical Icons</h4>
					            <div class="form-group">
									<section class="icons-demo">
									    <div class="the-icons row">
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-ambulance"></i> icon-ambulance</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-h-sign"></i> icon-h-sign</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-hospital"></i> icon-hospital</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-medkit"></i> icon-medkit</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-plus-sign-alt"></i> icon-plus-sign-alt</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-stethoscope"></i> icon-stethoscope</a></div>
									        <div class="col-md-4"><a href="javascript:;"><i class="icon-user-md"></i> icon-user-md</a></div>
									    </div>
									</section>
                                </div>
                            </div>
                        </div>
                    </div>