                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Road Map</h4>
                                <div class="form-group">
                                    <div id="plainMap" style="height:400px; width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">
                                    Polygon Creator Tool
                                    <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Instructions: Create a polygon by clicking on a map."></i>
                                </h4>
                                <div class="form-group">
                                    <div id="map" style="height:400px; width:100%"></div>
                                    <input type="hidden" name="coordinates" id="coordinates" value="">
                                </div>
                            </div>
                        </div>
                    </div>