                    <!-- MASKED INPUT FIELDS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Masked Input Fields</h4>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputDate">
                                            Date
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="(##/##/####)"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputDate" type="text" name="inputDate" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputPhone">
                                            Phone
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="(###) ###-####"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputPhone" type="tel" name="inputPhone" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputPhoneExit">
                                            Phone and Exit
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="(###) ###-#### x#####"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputPhoneExit" type="tel" name="inputPhoneExit" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputIntPhone">
                                            Int Phone
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="+33 (###) ###-####"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputIntPhone" type="tel" name="inputIntPhone" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputTaxID">
                                            Tax ID
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="##-#######"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputTaxID" type="text" name="inputTaxID" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputSSN">
                                            SSN
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="###-##-####"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputSSN" type="text" name="inputSSN" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputProductKey">
                                            Product Key
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="a*-###-a###"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputProductKey" type="text" name="inputProductKey" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputEyeScript">
                                            Eye Script
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="~#.## ~#.## ###"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputEyeScript" type="text" name="inputEyeScript" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputPurchaseOrder">
                                            Purchase Order
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="aaa-###-***"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputPurchaseOrder" type="text" name="inputPurchaseOrder" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputPercent">
                                            Percent
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="##%"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputPercent" type="text" name="inputPercent" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputCharacterRanges">
                                            Character Ranges
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="[1-9]#%"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputCharacterRanges" type="text" name="inputCharacterRanges" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label" for="inputMaskEscaping">
                                            Mask Escaping
                                            <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="##-#### ?a\"></i>
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="inputMaskEscaping" type="text" name="inputMaskEscaping" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>