                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-dashboard"></i>
                                        <h2>
                                            MOUSE<br/>
                                            SPEED
                                        </h2>
                                        <div class="counter"><span id="mousespeed" class="sparkspan"></span></div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-sitemap"></i>
                                        <h2>
                                            PIE<br/>
                                            CHARTS
                                        </h2>
                                        <div class="counter">
                                            <span class="sparkspan sparkpie">5,10,10</span>
                                            <span class="sparkspan sparkpie">20,15,80,51</span>
                                            <span class="sparkspan sparkpie">20,55</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-signal"></i>
                                        <h2>
                                            BAR<br/>
                                            CHART
                                        </h2>
                                        <div class="counter">
                                            <span class="sparkspan sparkbar">1,-1,1.5,2,0.5,3,1.5,-1,-1.5,-1,0.5,1.5,2,3</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-random"></i>
                                        <h2>
                                            COMPOSITE<br/>
                                            CHART
                                        </h2>
                                        <div class="counter">
                                            <span id="compositeline" class="sparkspan">1,-1,1.5,2,0.5,3,1.5,-1,-1.5,-1,0.5,1.5,1,-1,1.5,2,0.5,3,1.5,-1,-1.5,-1,0.5,1.5,2,3</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-tags"></i>
                                        <h2>
                                            COMPOSITE<br/>
                                            BAR CHART
                                        </h2>
                                        <div class="counter">
                                            <span id="compositebar" class="sparkspan">1,-1,1.5,2,0.5,3,1.5,-1,-1.5,-1,0.5,1.5,1,-1,1.5,2,0.5,3,1.5,-1,-1.5,-1,0.5,1.5,2,3</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-money"></i>
                                        <h2>
                                            CUSTOM<br/>
                                            CHART
                                        </h2>
                                        <div class="counter">
                                            <span id="linecustom" class="sparkspan">1,-1,1.5,2,0.5,3,1.5,-1.5,2,3</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        
                    </div>

                    