                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Spinners</h4>
                                <div class="form-group">
                                    <div>
                                        <ul class="spinners">
                                            <li><img src="images/spinners/130.gif" alt="loader" /></li>
                                            <li><img src="images/spinners/2.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/20.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/22.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/239.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/282.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/284.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/3.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/301.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/320.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/325.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/328.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/332.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/334.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/76.gif" alt="loader"/></li>
                                            <li><img src="images/spinners/82.gif" alt="loader"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>