                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-success">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            PUBLISHED
                                        </h2>
                                        <div class="counter">126</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-warning">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            PENDING
                                        </h2>
                                        <div class="counter">51</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-danger">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            DENIED
                                        </h2>
                                        <div class="counter">16</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-success">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            E-MAILS<br/>
                                            PROCESSED
                                        </h2>
                                        <div class="counter">314</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-warning">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            E-MAILS<br/>
                                            PENDING
                                        </h2>
                                        <div class="counter">53</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-danger">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            SPAM<br/>
                                            E-MAILS
                                        </h2>
                                        <div class="counter">135</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-bar-chart"></i>
                                        <h2>
                                            MONTHLY<br/>
                                            REVENUE
                                        </h2>
                                        <div class="counter counter-small">$16,235</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-bolt"></i>
                                        <h2>
                                            POWER<br/>
                                            CONSUMPTION
                                        </h2>
                                        <div class="counter">1.6 kWh</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-user"></i>
                                        <h2>
                                            NEW<br/>
                                            ACCOUNTS
                                        </h2>
                                        <div class="counter counter-small">425 Users</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>


                    <div style="margin-top: 40px;" class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-success stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            PUBLISHED
                                        </h2>
                                        <div class="counter">126</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-warning stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            PENDING
                                        </h2>
                                        <div class="counter">51</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-danger stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-pencil"></i>
                                        <h2>
                                            ARTICLES<br/>
                                            DENIED
                                        </h2>
                                        <div class="counter">16</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-success stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            E-MAILS<br/>
                                            PROCESSED
                                        </h2>
                                        <div class="counter">314</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-warning stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            E-MAILS<br/>
                                            PENDING
                                        </h2>
                                        <div class="counter">53</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-danger stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-envelope-alt"></i>
                                        <h2>
                                            SPAM<br/>
                                            E-MAILS
                                        </h2>
                                        <div class="counter">135</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row stat-row">
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-bar-chart"></i>
                                        <h2>
                                            MONTHLY<br/>
                                            REVENUE
                                        </h2>
                                        <div class="counter counter-small">$16,235</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-bolt"></i>
                                        <h2>
                                            POWER<br/>
                                            CONSUMPTION
                                        </h2>
                                        <div class="counter">1.6 kWh</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <section class="panel stat stat-info stat-color">
                                <div class="panel-heading">
                                    <div>
                                        <i class="icon-user"></i>
                                        <h2>
                                            NEW<br/>
                                            ACCOUNTS
                                        </h2>
                                        <div class="counter counter-small">425 Users</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>