                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <h4 class="section-title">Basic Table</h4>
                                    <!--Basic Table-->
                                    <table class="table table-striped">
                                        <thead class="">
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Location</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>North Charleston, USA</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Angelica</td>
                                                <td>Otto</td>
                                                <td>North Charleston, USA</td>
                                                <td>@ango</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Magdelena</td>
                                                <td>von Thornton</td>
                                                <td>Hamburg, Germany</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>Toronto, Canada</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <h4 class="section-title">Basic Bordered Table</h4>
                                    <!--Basic Table-->
                                    <table class="table table-bordered table-striped">
                                        <thead class="">
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Location</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>North Charleston, USA</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Angelica</td>
                                                <td>Otto</td>
                                                <td>North Charleston, USA</td>
                                                <td>@ango</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Magdelena</td>
                                                <td>von Thornton</td>
                                                <td>Hamburg, Germany</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>Toronto, Canada</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <h4 class="section-title">Responsive Bordered Table</h4>
                                    <!--Basic Table-->
                                    <div class="table-responsive">
	                                    <table class="table table-bordered table-striped">
	                                        <thead class="">
	                                            <tr>
	                                                <th>#</th>
	                                                <th>First Name</th>
	                                                <th>Last Name</th>
	                                                <th>Location</th>
	                                                <th>Username</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            <tr>
	                                                <td>1</td>
	                                                <td>Mark</td>
	                                                <td>Otto</td>
	                                                <td>North Charleston, USA</td>
	                                                <td>@mdo</td>
	                                            </tr>
	                                            <tr>
	                                                <td>2</td>
	                                                <td>Angelica</td>
	                                                <td>Otto</td>
	                                                <td>North Charleston, USA</td>
	                                                <td>@ango</td>
	                                            </tr>
	                                            <tr>
	                                                <td>3</td>
	                                                <td>Magdelena</td>
	                                                <td>von Thornton</td>
	                                                <td>Hamburg, Germany</td>
	                                                <td>@fat</td>
	                                            </tr>
	                                            <tr>
	                                                <td>4</td>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>Toronto, Canada</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>