                    <!-- BOOTSTRAP TAGS INPUT -->
                    <!-- http://timschlechter.github.io/bootstrap-tagsinput/examples/ -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Tags</h4>
                                <div class="form-group">
                                    <input type="text" placeholder="Placeholder Text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- STAR RATING -->
                    <!-- https://github.com/astronouth7303/raty -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Star Rating</h4>
                                <div class="form-group">
                                    <div id="basic-stars-demo" class="star-rating"></div>
                                    <div id="half-cancel-stars-demo" class="star-rating"></div>
                                    <div id="ten-stars-stars-demo" class="star-rating"></div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <h4 class="section-title">Star Rating (read only)</h4>
                                <div class="form-group">
                                    <div id="readonly-stars-demo" class="star-rating"></div>
                                </div>                                
                            </div>
                        </div>
                    </div>