                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                            	<div class="form-group">
                                    <h4 class="section-title">Headings</h4>

									<h1>This is Heading 1</h1>
									<h2>This is Heading 2</h2>
									<h3>This is Heading 3 </h3>
									<h4>This is Heading 4</h4>
									<h5>This is Heading 5</h5>
									<h6>This is Heading 6</h6>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="form-group">
                                	<h4 class="section-title">Simple Text with Links</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <a href="#">commodo elementum</a> dapibus. 
                                        Pellentesque sed lacus dui, sit amet viverra velit. Vivamus ut nunc in ante convallis rhoncus. 
                                        Phasellus scelerisque pretium tellus, et tincidunt tellus scelerisque at. Nam in lacus velit. 
                                        Nam mattis convallis ligula, in ultricies nibh pretium porttitor. Nunc in ligula dolor.
                                    </p>
                                    <p class="lead">
                                        Praesent id nibh sapien. Ut laoreet sem non orci consequat in scelerisque lacus fermentum. 
                                        Etiam odio enim, consequat in adipiscing non, pulvinar eu orci. Suspendisse nec nulla pretium turpis pellentesque eleifend.
                                    </p>
                                    <p>
                                        Nulla <a href="#">pellentesque</a> metus id purus tincidunt luctus id et magna. Praesent tortor lorem, lobortis nec sodales 
                                        lacinia, interdum in leo. Sed enim quam, egestas vitae pellentesque eget, condimentum ut lectus. Aenean id orci orci, 
                                        ut fringilla quam. Donec at suscipit nisl. Sed nibh tortor, fringilla at mattis vitae, gravida non nisi. Nunc quam urna, 
                                        interdum a bibendum eu, <a href="#">sollicitudin sit amet massa</a>. Vivamus egestas ullamcorper quam vitae adipiscing. 
                                        Vestibulum non ultricies elit. Aliquam pretium gravida ipsum, gravida facilisis nulla feugiat et.
                                    </p>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="panel panel-default panel-block">
					    <div class="list-group">
                            <div class="list-group-item">
                            	<div class="form-group">
                                	<h4 class="section-title">Labels</h4>

									<p>
									    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									    Nunc <span class="label label-primary">commodo elementum</span> dapibus.
									    Pellentesque sed lacus dui, sit amet viverra velit. 
									    Vivamus ut nunc in ante convallis rhoncus. 
									    Phasellus <span class="label label-success">scelerisque</span> pretium tellus, et tincidunt tellus scelerisque at. 
									    Nam in lacus velit. Nam mattis convallis ligula, in ultricies nibh pretium porttitor. 
									    Nunc in ligula dolor.
									</p>
									<p>
									    Praesent id nibh sapien.
									    Ut laoreet sem non orci consequat in scelerisque lacus fermentum. 
									    Etiam <span class="label label-info">odio</span> enim, consequat in adipiscing non, pulvinar eu orci. 
									    Suspendisse nec nulla pretium turpis pellentesque eleifend. 
									    <span class="label label-danger">Nulla</span> pellentesque metus id purus tincidunt luctus id et magna. 
									    Praesent tortor lorem, lobortis nec sodales lacinia, interdum in leo. 
									    Sed enim quam, egestas vitae pellentesque eget, condimentum ut lectus. 
									    Aenean id orci orci, ut <span class="label label-warning">fringilla</span> quam. Donec at suscipit nisl. 
									    Sed nibh tortor, fringilla at mattis vitae, gravida non nisi.
									    Nunc quam urna, <span class="label label-default">interdum a bibendum</span> eu, sollicitudin sit amet massa.
									    Vivamus egestas ullamcorper quam vitae adipiscing. Vestibulum non ultricies elit. 
									    Aliquam pretium gravida ipsum, gravida facilisis nulla feugiat et.
									</p>
                            	</div>
                            </div>
                            <div class="list-group-item">
                            	<div class="form-group">
                                	<h4 class="section-title">Badges</h4>

									<p>
									    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									    Nunc <span class="badge">commodo elementum</span> dapibus.
									    Pellentesque sed lacus dui, sit amet viverra velit. 
									    Vivamus ut nunc in ante convallis rhoncus. 
									    Phasellus <span class="badge">scelerisque</span> pretium tellus, et tincidunt tellus scelerisque at. 
									    Nam in lacus velit. Nam mattis convallis ligula, in ultricies nibh pretium porttitor. 
									    Nunc in ligula dolor.
									</p>
									<p>
									    Praesent id nibh sapien.
									    Ut laoreet sem non orci consequat in scelerisque lacus fermentum. 
									    Etiam <span class="badge">odio</span> enim, consequat in adipiscing non, pulvinar eu orci. 
									    Suspendisse nec nulla pretium turpis pellentesque eleifend. 
									    <span class="badge">Nulla</span> pellentesque metus id purus tincidunt luctus id et magna. 
									    Praesent tortor lorem, lobortis nec sodales lacinia, interdum in leo. 
									    Sed enim quam, egestas vitae pellentesque eget, condimentum ut lectus. 
									    Aenean id orci orci, ut <span class="badge">fringilla</span> quam. Donec at suscipit nisl. 
									    Sed nibh tortor, fringilla at mattis vitae, gravida non nisi.
									    Nunc quam urna, <span class="badge">interdum a bibendum</span> eu, sollicitudin sit amet massa.
									    Vivamus egestas ullamcorper quam vitae adipiscing. Vestibulum non ultricies elit. 
									    Aliquam pretium gravida ipsum, gravida facilisis nulla feugiat et.
									</p>
                            	</div>
                            </div>
                            <div class="list-group-item">
                            	<div class="form-group">
                                	<h4 class="section-title">Emphasis</h4>

									<p>
									    <strong>Some bold text example.</strong>
									</p>
									<p>
									    <em>Some italic text example.</em>
									</p>
									<p>
									    <small>Some fine print text example.</small>
									</p>
									<p class="text-muted">
									    Some dimmed text example.
									</p>
									<p class="text-info">
									    Some informative text example.
									</p>
									<p class="text-success">
									    Some success text notification example.
									</p>
									<p class="text-warning">
									    Some warning text example.
									</p>
									<p class="text-danger">
									    Some error text example.
									</p>
                            	</div>
                            </div>
                        </div>
					</div>
					<div class="panel panel-default panel-block">
					    <div class="list-group">
                            <div class="list-group-item">
                            	<div class="form-group">
                                	<h4 class="section-title">Lists</h4>
									
									<div class="row">
										<div class="col-md-4">
											<h4>Unordered List</h4>
											<ul>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											    <li>Tellus scelerisque at</li>
											</ul>
										</div>
										<div class="col-md-4">
											<h4>Ordered List</h4>
											<ol>
											    <li>Tellus scelerisque at</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											</ol>
										</div>
										<div class="col-md-4">
											<h4>Letter List</h4>
											<ol class="upper-alpha">
											    <li>Vivamus ut nunc in ante</li>
											    <li>Tellus scelerisque at</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Nunc commodo elementum dapibus</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-4">
											<h4>Roman List</h4>
											<ol class="upper-roman">
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											    <li>Tellus scelerisque at</li>
											</ol>
										</div>
										<div class="col-md-4">
											<h4>Ordered List w/ Leading Zero</h4>
											<ol class="decimal-leading-zero">
											    <li>Tellus scelerisque at</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											</ol>
										</div>
										<div class="col-md-4">
											<h4>Letter Lowercase List</h4>
											<ol class="lower-alpha">
											    <li>Vivamus ut nunc in ante</li>
											    <li>Tellus scelerisque at</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Nunc commodo elementum dapibus</li>
											</ol>
										</div>
									</div>
                            	</div>
                            	<div class="form-group">
									<div class="row">
										<div class="col-md-4">
											<h4>Background Image Icons List</h4>
											<ul class="image-icons-list">
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											    <li>Tellus scelerisque at</li>
											</ul>
										</div>
										<div class="col-md-4">
											<h4>Font Icons List</h4>
											<ul class="font-icons-list">
											    <li>Tellus scelerisque at</li>
											    <li>Consectetur adipiscing elit</li>
											    <li>Lorem ipsum dolor sit amet</li>
											    <li>Nunc commodo elementum dapibus</li>
											    <li>Vivamus ut nunc in ante</li>
											</ul>
										</div>
										<div class="col-md-4">
											<h4>Inline Font Icons List</h4>
											<ul class="inline-font-icons-list">
											    <li><i class='icon-cog'></i>Vivamus ut nunc in ante</li>
											    <li><i class='icon-bell'></i>Tellus scelerisque at</li>
											    <li><i class='icon-bookmark'></i>Consectetur adipiscing elit</li>
											    <li><i class='icon-female'></i>Lorem ipsum dolor sit amet</li>
											    <li><i class='icon-headphones'></i>Nunc commodo elementum dapibus</li>
											</ul>
										</div>
									</div>
                            	</div>
                            </div>
                        </div>
                    </div>