                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Hybrid Map</h4>
                                <div class="form-group">
                                    <div id="hybridMap" style="height:400px; width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">
                                    Geolocation Detection
                                    <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="You need to allow location detection in your browser."></i>
                                </h4>
                                <div class="form-group">
                                    <div id="geolocation" style="height:400px; width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>