                    <!-- TABS -->
                    <ul class="nav nav-tabs panel panel-default panel-block">
                        <li class="active"><a href="#user-overview" data-toggle="tab">OVERVIEW</a></li>
                        <li><a href="#user-messages" data-toggle="tab">MESSAGES</a></li>
                        <li><a href="#user-activity" data-toggle="tab">ACTIVITY</a></li>
                        <li><a href="#user-settings" data-toggle="tab">EDIT PROFILE</a></li>
                    </ul>
                    <div class="tab-content panel panel-default panel-block">
                        <div style="" class="tab-pane active" id="user-overview">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h4>
                                        About me
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sint, perspiciatis quos aliquam velit voluptate aliquid ratione repellat illum qui error ut totam maiores assumenda dolore distinctio dignissimos vel saepe impedit eius. Inventore, numquam veritatis quis ea quia perferendis consequatur eligendi ducimus.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>
                                                User Stats
                                            </h4>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-info stat-color">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-beaker"></i>
                                                        <h2>
                                                            CURRENT<br/>
                                                            PROJECTS
                                                        </h2>
                                                        <div class="counter counter-small">04</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-success stat-color">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-tags"></i>
                                                        <h2>
                                                            TASKS<br/>
                                                            ASSIGNED
                                                        </h2>
                                                        <div class="counter counter-small">12</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-danger stat-color">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-bug"></i>
                                                        <h2>
                                                            BUG FIXES<br/>
                                                            PENDING
                                                        </h2>
                                                        <div class="counter counter-small">03</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-success">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-briefcase"></i>
                                                        <h2>
                                                            PROJECTS<br/>
                                                            COMPLETED
                                                        </h2>
                                                        <div class="counter counter-small">25</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-info">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-comment"></i>
                                                        <h2>
                                                            DISCUSSIONS<br/>
                                                            STARTED
                                                        </h2>
                                                        <div class="counter counter-small">42</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <section class="panel stat stat-info">
                                                <div class="panel-heading">
                                                    <div>
                                                        <i class="icon-credit-card"></i>
                                                        <h2>
                                                            PURCHASES<br/>
                                                            MADE
                                                        </h2>
                                                        <div class="counter counter-small">11</div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </li>
                                <div class="list-group-item">
                                    <div class="form-group">
                                        <h4>Projects</h4>
                                        <div class="table-responsive">
                                            <table class="table table-condensed">
                                                <thead class="">
                                                    <tr>
                                                        <th>PROJECT NAME</th>
                                                        <th>TEAM LEAD</th>
                                                        <th>COMMENT</th>
                                                        <th>STATUS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-success text-bold">
                                                        <td>Proton UI</td>
                                                        <td>Mark P</td>
                                                        <td>Natus, quam sapiente molestias dolores vero repellendus repudiandae eius.</td>
                                                        <td>Updating</td>
                                                    </tr>
                                                    <tr class="text-warning text-bold">
                                                        <td>Lorem Panel</td>
                                                        <td>Angelica S</td>
                                                        <td>Delectus, dolor, sapiente atque doloribus laborum quod ex hic?</td>
                                                        <td>Pending</td>
                                                    </tr>
                                                    <tr class="text-warning text-bold">
                                                        <td>Ipsum Site</td>
                                                        <td>Magdelena R</td>
                                                        <td>Sunt, explicabo, minus culpa inventore quis itaque deserunt consequuntur.</td>
                                                        <td>Pending</td>
                                                    </tr>
                                                    <tr class="text-danger text-bold">
                                                        <td>Laravel UI</td>
                                                        <td>Larry S</td>
                                                        <td>Perferendis, incidunt, iure. Molestias, fugit exercitationem tempora perferendis. Placeat, laudantiu.</td>
                                                        <td>Canceled</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                            
                        </div>
                        <div class="tab-pane scrollable list-group" id="user-activity">
                            <div class="panel panel-default scrollable messages-view">
                                <div class="arrow user-menu-arrow"></div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                likes your website.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            32 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 hrs ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user4.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Neque
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            57 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                submitted a new ticket.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            1.5 hrs ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 hrs ago
                                        </span>
                                    </li>

                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                likes your website.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user4.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Neque
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                submitted a new ticket.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                likes your website.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user4.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Neque
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa
                                            </span>
                                            <span class="description-text">
                                                submitted a new ticket.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis
                                            </span>
                                            <span class="description-text">
                                                wrote a new post.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            Yesterday
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane scrollable list-group" id="user-messages">
                            <div class="panel panel-default scrollable messages-view">
                                <div class="arrow user-menu-arrow"></div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis:
                                            </span>
                                            <span class="description-text">
                                                Hi, can you meet me at the office tomorrow morning?
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user5.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Prasent Neque:
                                            </span>
                                            <span class="description-text">
                                                Just a quick question: do you know the balance on the adsense account?
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            17 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa:
                                            </span>
                                            <span class="description-text">
                                                Hey, we're going surfing tomorrow. Feel free to join in.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 hrs ago
                                        </span>
                                    </li>

                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis:
                                            </span>
                                            <span class="description-text">
                                                Hi, can you meet me at the office tomorrow morning?
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user5.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Prasent Neque:
                                            </span>
                                            <span class="description-text">
                                                Just a quick question: do you know the balance on the adsense account?
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            17 mins ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa:
                                            </span>
                                            <span class="description-text">
                                                Hey, we're going surfing tomorrow. Feel free to join in.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            3 hrs ago
                                        </span>
                                    </li>

                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis:
                                            </span>
                                            <span class="description-text">
                                                Quasi, facilis dolor ab eveniet tempora magnam labore reprehenderit delectus nisi obcaecati!
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            5 hrs ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user5.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Prasent Neque:
                                            </span>
                                            <span class="description-text">
                                                Hic laboriosam eos veritatis distinctio voluptate dignissimos quaerat ad corrupti minus repudiandae.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            9 hrs ago
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa:
                                            </span>
                                            <span class="description-text">
                                                Assumenda, tenetur vero id iste laudantium reiciendis nobis accusantium veritatis! Ab, perspiciatis.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            14 hrs ago
                                        </span>
                                    </li>

                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user1.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Nunc Cenenatis:
                                            </span>
                                            <span class="description-text">
                                                Dolores, ipsa, enim dolorem voluptatem vero eius animi neque aliquam aliquid sequi.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user5.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Prasent Neque:
                                            </span>
                                            <span class="description-text">
                                                Fugiat labore fuga asperiores quasi facilis aperiam ducimus voluptatem itaque maiores porro.
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            yesterday
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <i><img src="images/user-icons/user2.jpg" alt="User Icon"></i>
                                        <div class="text-holder">
                                            <span class="title-text">
                                                Flor Demoa:
                                            </span>
                                            <span class="description-text">
                                                Sed, libero soluta quo a dignissimos molestiae fugiat assumenda commodi delectus eaque?
                                            </span>
                                        </div>
                                        <span class="time-ago">
                                            yesterday
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane scrollable list-group" id="user-settings">
                            <form action="#">
                                <div class="list-group-item form-horizontal">
                                    <h4>
                                        Basic Information
                                    </h4>
                                    <div class="form-group">
                                        <label for="first-name" class="col-md-2 control-label">First Name</label>
                                        <div class="col-md-10">
                                            <input id="first-name" class="form-control" value="John">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name" class="col-md-2 control-label">Last Name</label>
                                        <div class="col-md-10">
                                            <input id="last-name" class="form-control" value="Doe">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" class="col-md-2 control-label">Location</label>
                                        <div class="col-md-10">
                                            <input id="location" class="form-control" value="2nd Avenue, New York, USA">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="occupation" class="col-md-2 control-label">Occupation</label>
                                        <div class="col-md-10">
                                            <input id="occupation" class="form-control" value="Web Developer">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Change Avatar</label>
                                        <div class="col-md-10">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                              <div class="input-group">
                                                <div class="form-control uneditable-input span3" data-trigger="fileinput"><i class="icon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                                <span class="input-group-addon btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                                <a href="#" class="input-group-addon btn btn-primary fileinput-exists" data-dismiss="fileinput">Remove</a>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>
                                        Contact Information
                                    </h4>
                                    <div class="form-group">
                                        <label for="email" class="col-md-2 control-label">Email</label>
                                        <div class="col-md-10">
                                            <input id="email" class="form-control" value="john.doe@orangehilldev.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="website" class="col-md-2 control-label">Website</label>
                                        <div class="col-md-10">
                                            <input id="website" class="form-control" value="http://www.orangehilldev.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fb" class="col-md-2 control-label">Facebook</label>
                                        <div class="col-md-10">
                                            <input id="fb" class="form-control" value="https://www.facebook.com/orangehilldev">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="twitter" class="col-md-2 control-label">Twitter</label>
                                        <div class="col-md-10">
                                            <input id="twitter" class="form-control" value="https://twitter.com/orangehilldev">
                                        </div>
                                    </div>
                                    <h4>
                                        About Me
                                    </h4>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="about-me">About Me</label>
                                        <div class="col-md-10">
                                            <textarea id="about-me" rows="6" class="form-control auto-resize">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sint, perspiciatis quos aliquam velit voluptate aliquid ratione repellat illum qui error ut totam maiores assumenda dolore distinctio dignissimos vel saepe impedit eius. Inventore, numquam veritatis quis ea quia perferendis consequatur eligendi ducimus.&#10;Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 pull-right text-right">
                                            <button type="button" class="btn btn-danger">RESET ALL</button>
                                            <button type="button" class="btn btn-success">APPLY CHANGES</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        
                    </div> 
