                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Text Areas</h4>
                                <div class="form-group">
                                    <label for="basic-text-area">Basic Text Area</label>
                                    <div>
                                    	<textarea id="basic-text-area" rows="2" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label for="text-area-no-resize">Text Area No Resize</label>
                                    <div>
                                    	<textarea id="text-area-no-resize" rows="3" class="form-control no-resize"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label for="text-area-auto-resize">Text Area Auto Resize</label>
                                    <div>
                                        <textarea id="text-area-auto-resize" rows="2" class="form-control auto-resize"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label for="text-area-character-counter">Text Area Character Counter</label>
                                    <div>
                                        <textarea id="text-area-character-counter" rows="2" class="form-control auto-resize"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label for="text-area-word-counter">Text Area Word Counter</label>
                                    <div>
                                        <textarea id="text-area-word-counter" rows="2" class="form-control auto-resize"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>