                    <div class="row panel-grid-demo">
                        <div class="col-md-12">
                            <section class="panel panel-grid-demo panel-primary panel-block">
                                <div class="panel-heading text-overflow-hidden">
                                    Level 0
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <section class="panel panel-grid-demo panel-danger panel-block">
                                            <div class="panel-heading text-overflow-hidden">
                                                Level 1
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <section class="panel panel-grid-demo panel-success panel-block">
                                                        <div class="panel-heading text-overflow-hidden">
                                                            Level 2
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="col-md-6">
                                                    <section class="panel panel-grid-demo panel-success panel-block">
                                                        <div class="panel-heading text-overflow-hidden">
                                                            Level 2
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-6">
                                        <section class="panel panel-grid-demo panel-danger panel-block">
                                            <div class="panel-heading text-overflow-hidden">
                                                Level 1
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <section class="panel panel-grid-demo panel-success panel-block">
                                                        <div class="panel-heading text-overflow-hidden">
                                                            Level 2
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="col-md-6">
                                                    <section class="panel panel-grid-demo panel-success panel-block">
                                                        <div class="panel-heading text-overflow-hidden">
                                                            Level 2
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <section class="panel panel-grid-demo panel-primary panel-block">
                                                                    <div class="panel-heading text-overflow-hidden">
                                                                        Level 3
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <section class="panel panel-grid-demo panel-warning panel-block">
                                                                                <div class="panel-heading text-overflow-hidden">
                                                                                    L4
                                                                                </div>
                                                                                <div class="row">

                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>