                    <!-- BUTTONS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item button-demo">
                                <h4 class="section-title">Buttons</h4>
                                <div class="form-group">
                                    <label>Buttons Large</label>
                                    <div>
                                        <button type="button" class="btn btn-lg btn-default">Default</button>
                                        <button type="button" class="btn btn-lg btn-primary">Primary</button>
                                        <button type="button" class="btn btn-lg btn-success">Success</button>
                                        <button type="button" class="btn btn-lg btn-info">Info</button>
                                        <button type="button" class="btn btn-lg btn-warning">Warning</button>
                                        <button type="button" class="btn btn-lg btn-danger">Danger</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Buttons Regular</label>
                                    <div>
                                        <button type="button" class="btn btn-default">Default</button>
                                        <button type="button" class="btn btn-primary">Primary</button>
                                        <button type="button" class="btn btn-success">Success</button>
                                        <button type="button" class="btn btn-info">Info</button>
                                        <button type="button" class="btn btn-warning">Warning</button>
                                        <button type="button" class="btn btn-danger">Danger</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Buttons Small</label>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-default">Default</button>
                                        <button type="button" class="btn btn-sm btn-primary">Primary</button>
                                        <button type="button" class="btn btn-sm btn-success">Success</button>
                                        <button type="button" class="btn btn-sm btn-info">Info</button>
                                        <button type="button" class="btn btn-sm btn-warning">Warning</button>
                                        <button type="button" class="btn btn-sm btn-danger">Danger</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Buttons Extra Small</label>
                                    <div>
                                        <button type="button" class="btn btn-xs btn-default">Default</button>
                                        <button type="button" class="btn btn-xs btn-primary">Primary</button>
                                        <button type="button" class="btn btn-xs btn-success">Success</button>
                                        <button type="button" class="btn btn-xs btn-info">Info</button>
                                        <button type="button" class="btn btn-xs btn-warning">Warning</button>
                                        <button type="button" class="btn btn-xs btn-danger">Danger</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Disabled Buttons</label>
                                    <div>
                                        <button disabled type="button" class="btn btn-lg btn-default">Disabled</button>
                                        <button disabled type="button" class="btn btn-default">Disabled</button>
                                        <button disabled type="button" class="btn btn-sm btn-default">Disabled</button>
                                        <button disabled type="button" class="btn btn-xs btn-default">Disabled</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Link-like Buttons</label>
                                    <div>
                                        <button type="button" class="btn btn-lg btn-link">Link</button>
                                        <button type="button" class="btn btn-link">Link</button>
                                        <button type="button" class="btn btn-sm btn-link">Link</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>