                    <!-- BUTTON CHECKBOX -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item button-demo">
                                <h4 class="section-title">Button Checkboxes</h4>
                                <div class="form-group">
                                    <div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                <input type="checkbox"> Option 1
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox"> Option 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox"> Option 3
                                            </label>
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-warning">
                                                <input type="checkbox"> Option 1
                                            </label>
                                            <label class="btn btn-warning">
                                                <input type="checkbox"> Option 2
                                            </label>
                                            <label class="btn btn-warning">
                                                <input type="checkbox"> Option 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item button-demo">
                                <h4 class="section-title">Button Radios</h4>
                                <div class="form-group">
                                    <div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="option1"> Ready
                                            </label>
                                            <label class="btn btn-warning">
                                                <input type="radio" name="options" id="option2"> Set
                                            </label>
                                            <label class="btn btn-success">
                                                <input type="radio" name="options" id="option3"> Go
                                            </label>
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-danger">
                                                <input type="radio" name="optionsonoff" id="optionof1"> OFF
                                            </label>
                                            <label class="btn btn-success">
                                                <input type="radio" name="optionsonoff" id="optionof2"> ON
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>