                    <!-- INPUT FIELDS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Input Fields</h4>

                                <div class="form-group">
                                    <label for="basic-input">Basic Input</label>
                                    <input id="basic-input" class="form-control" placeholder="Placeholder Text">
                                </div>

                                <div class="form-group">
                                    <label for="disabled-input">Disabled Input</label>
                                    <input id="disabled-input" disabled class="form-control" placeholder="Placeholder Text">
                                </div>

                                <div class="form-group">
                                    <label for="input-counter">Input Counter<i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Input Counter Tooltip"></i></label>
                                    <input id="input-counter" class="form-control input-counter" placeholder="Placeholder Text">
                                </div>
                            </div>
                            <div class="list-group-item">
                                <h4 class="section-title">Input Fields Horizontal</h4>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="input-horizontal" class="col-lg-4 control-label">Input Horizontal <i class="icon-info-sign uses-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Input Horizontal Tooltip"></i></label>
                                        <div class="col-lg-8">
                                            <input id="input-horizontal" class="form-control" placeholder="Placeholder Text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-horizontal-counter" class="col-lg-4 control-label">Input Horizontal Counter</label>
                                        <div class="col-lg-8">
                                            <input id="input-horizontal-counter" class="form-control input-counter" placeholder="Placeholder Text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- FILE INPUT FIELDS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">File Input Fields</h4>

                                <div class="form-group">
                                    <label>File Input Field</label>
                                    <div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="input-group">
                                            <div class="form-control uneditable-input span3" data-trigger="fileinput"><i class="icon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                            <span class="input-group-addon btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                            <a href="#" class="input-group-addon btn btn-primary fileinput-exists" data-dismiss="fileinput">Remove</a>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>File Input Button</label>
                                    <div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <span class="btn btn-primary btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                          <span class="fileinput-filename"></span>
                                          <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Image Input (with preview)</label>
                                    <div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                          <div>
                                            <span class="btn btn-primary btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-primary fileinput-exists" data-dismiss="fileinput">Remove</a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Twelve Grid System</h4>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="input-grid-2-10" class="col-lg-2 control-label">
                                            Grid 2 + 10
                                        </label>
                                        <div class="col-lg-10">
                                            <input id="input-grid-2-10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-8" class="col-lg-2 control-label">
                                            Grid 2 + 8
                                        </label>
                                        <div class="col-lg-8">
                                            <input id="input-grid-2-8" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-6" class="col-lg-2 control-label">
                                            Grid 2 + 6
                                        </label>
                                        <div class="col-lg-6">
                                            <input id="input-grid-2-6" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-4" class="col-lg-2 control-label">
                                            Grid 2 + 4
                                        </label>
                                        <div class="col-lg-4">
                                            <input id="input-grid-2-4" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-2" class="col-lg-2 control-label">
                                            Grid 2 + 2
                                        </label>
                                        <div class="col-lg-2">
                                            <input id="input-grid-2-2" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Twelve Grid System Offset</h4>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="input-grid-2-0-10" class="col-lg-2 control-label">
                                            2 + 0 + 10
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" id="input-grid-2-0-10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-2-8" class="col-lg-2 control-label">
                                            2 + 2 + 8
                                        </label>
                                        <div class="col-lg-offset-2 col-lg-8">
                                            <input type="text" id="input-grid-2-2-8" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-4-6" class="col-lg-2 control-label">
                                            2 + 4 + 6
                                        </label>
                                        <div class="col-lg-offset-4 col-lg-6">
                                            <input type="text" id="input-grid-2-4-6" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-6-4" class="col-lg-2 control-label">
                                            2 + 6 + 4
                                        </label>
                                        <div class="col-lg-offset-6 col-lg-4">
                                            <input type="text" id="input-grid-2-6-4" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-grid-2-8-2" class="col-lg-2 control-label">
                                            2 + 8 + 2
                                        </label>
                                        <div class="col-lg-offset-8 col-lg-2">
                                            <input type="text" id="input-grid-2-8-2" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
