                    <!-- SLIDERS -->
                    <div class="panel panel-default panel-block">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="section-title">Vertical Sliders</h4>
                                <div class="form-group">
                                    <!-- <label for="vertical-sliders">Vertical Sliders</label> -->
                                    <div class="text-center">
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-10" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-5" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="0.1" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="5" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="10" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                        <input type="text" class="bslider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="15" data-slider-orientation="vertical" data-slider-selection="after" data-slider-handle="square" >
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>