                    <!-- TABS -->
                    <ul class="nav nav-tabs panel panel-default panel-block">
                        <li class="active"><a href="#tabsdemo-home" data-toggle="tab">HOME</a></li>
                        <li><a href="#tabsdemo-profile" data-toggle="tab">PROFILE</a></li>
                        <li><a href="#tabsdemo-messages" data-toggle="tab">MESSAGES</a></li>
                        <li><a href="#tabsdemo-settings" data-toggle="tab">SETTINGS</a></li>
                    </ul>
                    <div class="tab-content panel panel-default panel-block">
                        <div class="tab-pane list-group active" id="tabsdemo-home">
                            <div class="list-group-item">
                                <h4 class="section-title">Tabs</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, numquam, fuga, at, laudantium nihil nulla deleniti minus animi nisi quidem incidunt praesentium dignissimos reiciendis atque repellat dicta suscipit in voluptate eveniet provident asperiores culpa temporibus cumque placeat vero. Error, cupiditate, accusantium.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo quo aspernatur quis provident libero ratione voluptatem cupiditate veniam error saepe quas aperiam sequi magni mollitia obcaecati iusto repudiandae quae aliquid laborum dicta similique voluptatum explicabo maiores natus. Dolor, repellendus, illum architecto iste nulla quo alias repellat vitae consectetur voluptatibus necessitatibus temporibus incidunt sint.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo quo aspernatur quis provident libero ratione voluptatem cupiditate veniam error saepe quas aperiam sequi magni mollitia obcaecati iusto repudiandae quae aliquid laborum dicta similique voluptatum explicabo maiores natus. Dolor, repellendus, illum architecto iste nulla quo alias repellat vitae consectetur voluptatibus necessitatibus temporibus incidunt sint.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane list-group" id="tabsdemo-profile">
                            <div class="list-group-item form-horizontal">
                                <h4 class="section-title preface-title">Profile</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illo quo aspernatur quis provident libero ratione voluptatem cupiditate veniam error saepe quas aperiam sequi magni mollitia obcaecati iusto repudiandae quae aliquid laborum dicta similique voluptatum explicabo maiores natus. Dolor, repellendus, illum architecto iste nulla quo alias repellat vitae consectetur voluptatibus necessitatibus temporibus incidunt sint.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane list-group" id="tabsdemo-messages">
                            <div class="list-group-item">
                                <h4 class="section-title preface-title">Messages</h4>
                                <p>
                                    Lorem aperiam sequi magni mollitia obcaecati iusto repudiandae quae aliquid laborum dicta similique voluptatum explicabo maiores natus. Dolor, repellendus, illum architecto iste nulla quo alias repellat vitae consectetur voluptatibus necessitatibus temporibus incidunt sint.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane list-group" id="tabsdemo-settings">
                            <div class="list-group-item">
                                <h4 class="section-title preface-title">Settings</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, dolor, aliquid libero cumque enim voluptates deleniti esse iusto aperiam minus molestiae reiciendis nihil modi vel vero at sapiente quisquam repellendus officia facere blanditiis iure placeat tempore rerum ut eum quasi illo harum sunt sed quos perspiciatis vitae natus eligendi earum iste quaerat saepe autem cum et sint amet! Odio, unde, quo, sapiente similique deserunt voluptates sit earum quisquam impedit totam voluptas in tempora.
                                </p>
                            </div>
                        </div>
                    </div> 
